.product_wrap {
  padding-bottom: 20px;
  text-align: center;
  height: 300px;
}

.img_item {
  display: block;
  margin: 0 auto;
}
.tit_item {
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  overflow: hidden;

  margin: 10px auto;
}
.product_info {
  display: block;
  margin-bottom: 10px;
  color: #999;
  text-align: center;
}
.product_price {
  display: block;
  font-size: 50px;
  color: #00bcd4;
  font-weight: bold;
  margin-top: 5px;
}
